<script lang="ts" setup>
import { useStore, WishlistData } from "../store";
import {
  computed,
  onBeforeMount,
  onBeforeUnmount,
  watch,
  ref,
  reactive,
} from "vue";
import { useRoute, useRouter } from "vue-router";
import { auth } from "../firebase";
import Button from "../components/Button.vue";
import { useI18n } from "vue-i18n";

const route = useRoute();
const router = useRouter();
const store = useStore();
const { t } = useI18n({
  messages: {
    en: {
      pageHeading: "Edit Wish",
      formValueTitleLabel: "Title",
      formValueImageLabel: "Image",
      formValueUrlLabel: "URL",
      formValuePriceLabel: "Price",
      formValueTitlePlaceholder: "Title",
      formValueImagePlaceholder: "Image",
      formValueUrlPlaceholder: "https://link-to-store.com/product",
      formValuePricePlaceholder: "$10",
      validationErrorFieldRequired: "This field is required.",
      formValidationTooShort: "This field needs to be at least 3 characters",
      save: "Save",
      cancel: "Cancel",
      notFound: "Wish not found",
    },
    sv: {
      pageHeading: "Redigera önskning",
      formValueTitleLabel: "Rubrik",
      formValueImageLabel: "Bild",
      formValueUrlLabel: "Address",
      formValuePriceLabel: "Pris",
      formValueTitlePlaceholder: "Rubrik",
      formValueImagePlaceholder: "Bild",
      formValueUrlPlaceholder: "https://...",
      formValuePricePlaceholder: "10 SEK",
      validationErrorFieldRequired: "Detta fältet är obligatoriskt.",
      formValidationTooShort: "Detta fältet behöver bestå av minst tre tecken.",
      save: "Spara",
      cancel: "Avbryt",
      notFound: "Önskningen kunde inte hittas.",
    },
  },
});

const selectedList = computed<WishlistData>(
  () => store.getters.getSelectedList
);

const selectedItem = computed(() => {
  if (!selectedList.value) {
    return null;
  }

  return selectedList.value.items.find(
    (item) => item.id === route.params.itemId
  );
});

const formRef = ref();

// const title = ref(selectedItem.value?.title || "");
const form = reactive({
  title: selectedItem.value?.title || "",
  image: selectedItem.value?.image || "",
  url: selectedItem.value?.url || "",
  price: selectedItem.value?.price || "",
});

const rules = {
  title: [
    {
      required: true,
      message: t("validationErrorFieldRequired"),
      trigger: "blur",
    },
    {
      min: 3,
      message: t("formValidationTooShort"),
      trigger: "blur",
    },
  ],
  image: [],
};

watch(selectedItem, (newValue) => {
  if (!newValue) {
    return;
  }
  form.title = newValue.title;
  form.image = newValue.image || "";
  form.url = newValue.url || "";
  form.price = newValue.price || "";
});

const authListener = auth.onAuthStateChanged((user) => {
  if (!user) {
    router.push("/login");
    return;
  }

  store.dispatch("fetchWishlists", { userId: user.uid });
});

const validateForm = () => {
  let isValid = false;

  formRef.value.validate((valid: boolean) => {
    isValid = valid;
  });

  return isValid;
};

const handleSave = () => {
  const formIsValid = validateForm();
  if (!formIsValid) {
    return;
  }

  if (!selectedItem.value || !form.title.length) {
    return;
  }
  const item = {
    id: selectedItem.value.id,
    title: form.title,
    image: form.image,
    url: form.url,
    price: form.price,
  };
  store.dispatch("updateItemInList", {
    listId: route.params.id,
    item,
  });
  router.push(`/wishlist/${route.params.id}`);
};

const handleCancel = () => {
  router.push(`/wishlist/${route.params.id}`);
};

onBeforeMount(() => {
  store.dispatch("selectWishlist", { id: route.params.id });
});

onBeforeUnmount(() => {
  authListener();
});
</script>

<template>
  <template v-if="selectedItem">
    <h1>{{ t("pageHeading") }}</h1>

    <el-form :model="form" :rules="rules" label-position="top" ref="formRef">
      <el-form-item :label="t('formValueTitleLabel')" prop="title">
        <el-input
          v-model="form.title"
          :placeholder="t('formValueTitlePlaceholder')"
        />
      </el-form-item>
      <el-form-item :label="t('formValueImageLabel')" prop="image">
        <el-input
          v-model="form.image"
          :placeholder="t('formValueImagePlaceholder')"
        />
      </el-form-item>
      <el-form-item :label="t('formValueUrlLabel')" prop="url">
        <el-input
          v-model="form.url"
          :placeholder="t('formValueUrlPlaceholder')"
        />
      </el-form-item>
      <el-form-item :label="t('formValuePriceLabel')" prop="price">
        <el-input
          v-model="form.price"
          :placeholder="t('formValuePricePlaceholder')"
        />
      </el-form-item>
    </el-form>

    <!-- <div>
      <el-input placeholder="Title" v-model="form.title" />
    </div>
    <div>
      <el-input placeholder="Image" v-model="form.image" />
    </div> -->
    <div class="actions">
      <Button variant="white" @click="handleCancel">{{ t("cancel") }}</Button>
      <Button
        variant="primary"
        :disabled="!form.title.length"
        @click="handleSave"
      >
        {{ t("save") }}
      </Button>
    </div>
  </template>
  <template v-else>{{ t("notFound") }}</template>
</template>

<style lang="scss" scoped>
.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
</style>
