<template>
  <div class="home">
    <Introduction />
    <WelcomeSteps />
  </div>
</template>

<script lang="ts" setup>
import WelcomeSteps from "../components/WelcomeSteps.vue";
import Introduction from "../components/Introduction.vue";
</script>
