<script lang="ts" setup>
import { ref } from "vue";
import {
  getAuth,
  GoogleAuthProvider,
  signInWithEmailAndPassword,
  signInWithPopup,
} from "firebase/auth";
import { auth } from "../firebase";
import { useRouter } from "vue-router";
import Button from "../components/Button.vue";
import PageHeading from "../components/PageHeading.vue";
import { useI18n } from "vue-i18n";

const email = ref("");
const password = ref("");
const errorMessage = ref();
const router = useRouter();
const { t } = useI18n({
  messages: {
    en: {
      pageHeading: "Login",
      submitButtonLabel: "Login",
      formValueEmailPlaceholder: "Email",
      formValuePasswordPlaceholder: "Password",
      loginWithGoogle: "Login with Google",
    },
    sv: {
      pageHeading: "Logga in",
      submitButtonLabel: "Logga in",
      formValueEmailPlaceholder: "E-postadress",
      formValuePasswordPlaceholder: "Lösenord",
      loginWithGoogle: "Logga in med Google",
    },
  },
});

const handleSubmit = (event: Event) => {
  event.preventDefault();
  // console.log('submit', event);
  handleLogin();
};
const handleLogin = () => {
  signInWithEmailAndPassword(auth, email.value, password.value)
    .then(() => {
      router.push("/my-wishlists");
    })
    .catch((error) => {
      switch (error.code) {
        case "auth/user-not-found":
        case "auth/wrong-password":
        case "auth/invalid-email":
          errorMessage.value = "Invalid email or password";
          break;
        default:
          errorMessage.value = "Something went wrong!";
          break;
      }
    });
};

const loginWithGoogle = () => {
  const auth = getAuth();
  const provider = new GoogleAuthProvider();
  signInWithPopup(auth, provider)
    .then((result) => {
      // This gives you a Google Access Token. You can use it to access the Google API.
      const credential = GoogleAuthProvider.credentialFromResult(result);
      // console.log("result", result);
      // console.log("credential", credential);

      router.push("/my-wishlists");
      // const token = credential.accessToken;
      // The signed-in user info.
      // const user = result.user;
      // ...
    })
    .catch((error) => {
      // Handle Errors here.
      const errorCode = error.code;
      const errorMessage = error.message;
      // The email of the user's account used.
      const email = error.email;
      // The AuthCredential type that was used.
      const credential = GoogleAuthProvider.credentialFromError(error);
      // ...
    });
};
</script>

<template>
  <div class="login">
    <form class="login-form" @submit="(event) => handleSubmit(event)">
      <PageHeading variant="h1" divider>{{ t("pageHeading") }}</PageHeading>

      <el-alert v-if="errorMessage" :title="errorMessage" type="error" />

      <div class="form-field">
        <el-input
          type="text"
          :placeholder="t('formValueEmailPlaceholder')"
          v-model="email"
        />
      </div>
      <div class="form-field">
        <el-input
          type="password"
          :placeholder="t('formValuePasswordPlaceholder')"
          v-model="password"
        />
      </div>
      <div class="actions">
        <Button @click="loginWithGoogle" type="button">
          {{ t("loginWithGoogle") }}
        </Button>
        <Button type="submit" variant="primary">
          {{ t("submitButtonLabel") }}
        </Button>
      </div>
    </form>
  </div>
</template>

<style lang="scss" scoped>
.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    form {
      max-width: 40%;
    }
  }
  .form-field {
    margin: 1rem 0;
  }

  .actions {
    text-align: right;
  }
}
</style>
