<script lang="ts" setup>
import { computed, onBeforeUnmount, ref, watch, reactive } from "vue";
import { useStore } from "../store";
import { auth } from "../firebase";
import { useRouter } from "vue-router";
import { Plus } from "@element-plus/icons";
import { ElNotification } from "element-plus";
import Button from "../components/Button.vue";
import PageHeading from "../components/PageHeading.vue";
import { useMq } from "vue3-mq";
import { useI18n } from "vue-i18n";

const store = useStore();
const router = useRouter();
const mq = useMq();
const { t } = useI18n({
  messages: {
    en: {
      pageHeading: "My Wishlists",
      noListsYet:
        "You have not created any lists yet. Create a wishlist by clicking on the plus button.",
      cancel: "Cancel",
      confirm: "Create",
      formValueTitle: "Title",
      formHeading: "Create new Wishlist",
      createdNotificationHeader: "Added!",
      createdNotificationMessage: "Your wishlist was created!",
    },
    sv: {
      pageHeading: "Mina önskelistor",
      noListsYet:
        'Du har inte skapat någora listor än. Skapa en önskelista genom att klicka på "plus"-knappen.',
      cancel: "Avbryt",
      confirm: "Skapa",
      formValueTitle: "Rubrik",
      formHeading: "Skapa ny önskelista",
      createdNotificationHeader: "Skapad!",
      createdNotificationMessage: "Din önskelista är skapad!",
    },
  },
});

const createModalVisible = ref(false);

const form = reactive({
  title: "",
});

const resetForm = () => {
  form.title = "";
};

const lists = computed(() => store.state.wishlists);

const authListener = auth.onAuthStateChanged((user) => {
  if (!user) {
    router.push("/login");
    return;
  }
  store.dispatch("fetchWishlists", {
    userId: user?.uid,
  });
});

const handleCreateList = () => {
  const userId = auth.currentUser?.uid;
  if (!userId) {
    return;
  }
  const payload = {
    title: form.title,
    userId,
  };
  store.dispatch("createWishlist", payload);
  createModalVisible.value = false;
  resetForm();

  ElNotification({
    title: t("createdNotificationHeader"),
    type: "success",
    message: t("createdNotificationMessage"),
  });
};

const handleCancelCreateList = () => {
  createModalVisible.value = false;
  resetForm();
};

const isLoading = computed(() => store.getters.getIsLoading);

onBeforeUnmount(() => {
  authListener();
});
</script>

<template>
  <el-dialog
    v-model="createModalVisible"
    :title="t('formHeading')"
    :fullscreen="mq.current === 'xs'"
  >
    <el-form :model="form">
      <el-form-item :label="t('formValueTitle')" label-width="120px">
        <el-input v-model="form.title" autocomplete="off" />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <Button variant="white" @click="handleCancelCreateList">
          {{ t("cancel") }}
        </Button>
        <Button variant="primary" @click="handleCreateList">
          {{ t("confirm") }}
        </Button>
      </span>
    </template>
  </el-dialog>

  <PageHeading variant="h1" divider>{{ t("pageHeading") }}</PageHeading>

  <template v-if="isLoading">
    <el-skeleton :rows="5" animated />
  </template>

  <div v-if="!isLoading && !lists.length" class="empty-alert">
    <el-alert
      :title="t('noListsYet')"
      type="info"
      :closable="false"
      effect="dark"
    />
  </div>

  <div class="list" v-if="!isLoading">
    <div v-for="(list, index) in lists" :key="index" class="list-item">
      <router-link :to="`/wishlist/${list.id}`">{{ list.title }}</router-link>
    </div>
    <div class="list-item">
      <button @click="createModalVisible = !createModalVisible">
        <el-icon :size="30" color="white">
          <Plus />
        </el-icon>
      </button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}
.list-item {
  &:hover {
    opacity: 0.6;
  }

  button,
  a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 120px;
    border-radius: 15px;
    background: #3a2a46;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 0;
  }
}

.empty-alert {
  margin-bottom: 1rem;
}
</style>
