<script lang="ts" setup>
import { ref } from "vue";
import { useRouter } from "vue-router";
import { auth } from "../firebase";
import { createUserWithEmailAndPassword } from "firebase/auth";
import PageHeading from "../components/PageHeading.vue";
import Button from "../components/Button.vue";
import { ElNotification } from "element-plus";
import { useI18n } from "vue-i18n";

const email = ref("");
const password = ref("");
const password2 = ref("");
const router = useRouter();
const { t } = useI18n({
  messages: {
    en: {
      pageHeading: "Register",
      submitButtonLabel: "Sign up",
      successNotificationTitle: "Registered!",
      successNotificationMessage:
        "You are now registered, we went ahead and signed you in.",
      formValueEmailPlaceholder: "Email",
      formValuePasswordPlaceholder: "Password",
      formValuePassword2Placeholder: "Confirm password",
    },
    sv: {
      pageHeading: "Bli medlem",
      submitButtonLabel: "Bli medlem",
      successNotificationTitle: "Registrerad!",
      successNotificationMessage:
        "Du är nu medlem, vi tog oss friheten att logga in dig.",
      formValueEmailPlaceholder: "E-postadress",
      formValuePasswordPlaceholder: "Lösenord",
      formValuePassword2Placeholder: "Verifiera lösenord",
    },
  },
});

const handleSubmit = (event: Event) => {
  event.preventDefault();

  if (!email.value.length || !password.value.length) {
    return;
  }

  createUserWithEmailAndPassword(auth, email.value, password.value)
    .then((data) => {
      ElNotification({
        title: t("successNotificationTitle"),
        type: "success",
        message: t("successNotificationMessage"),
      });
      router.push("/my-wishlists");
    })
    .catch((error) => {
      console.log("Something went wrong", error);
    });
};
</script>

<template>
  <div class="register">
    <form @submit="(event) => handleSubmit(event)">
      <PageHeading variant="h1" divider>{{ t("pageHeading") }}</PageHeading>

      <div class="form-field">
        <el-input
          type="text"
          :placeholder="t('formValueEmailPlaceholder')"
          v-model="email"
        />
      </div>
      <div class="form-field">
        <el-input
          type="password"
          :placeholder="t('formValuePasswordPlaceholder')"
          v-model="password"
        />
      </div>
      <div class="form-field">
        <el-input
          type="password"
          :placeholder="t('formValuePassword2Placeholder')"
          v-model="password2"
        />
      </div>
      <div class="actions">
        <Button type="submit" variant="primary">
          {{ t("submitButtonLabel") }}
        </Button>
      </div>
    </form>
  </div>
</template>

<style lang="scss" scoped>
.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    form {
      max-width: 40%;
    }
  }
  .form-field {
    margin: 1rem 0;
  }

  .actions {
    text-align: right;
  }
}
</style>
