<script lang="ts" setup>
import { computed, onBeforeMount } from "vue";
import { useRoute } from "vue-router";
import SharedListCard from "../components/SharedListCard.vue";
import { useStore } from "../store";
import PageHeading from "../components/PageHeading.vue";
interface Props {}
defineProps<Props>();

const store = useStore();
const route = useRoute();

const sharedList = computed(() => store.getters.getSelectedSharedList);
const loading = computed(() => store.getters.getIsLoading);
const listTitle = computed(() => {
  if (sharedList.value) {
    return sharedList.value.title;
  }
  return null;
});

onBeforeMount(() => {
  store.dispatch("fetchSharedList", { sharedId: route.params.id });
});
</script>

<template>
  <PageHeading variant="h1" divider>{{ listTitle }}</PageHeading>
  <template v-if="loading">
    <el-skeleton :rows="5" animated />
  </template>
  <SharedListCard v-if="!loading && !!sharedList" :list="sharedList" />
</template>

<style lang="scss" scoped>
h1 {
  text-align: left;
}
</style>
