<script lang="ts" setup>
import { onBeforeUnmount, computed, watch, ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import { auth } from "../firebase";
import { useStore, WishlistData } from "../store";
import Button from "../components/Button.vue";
import { trim } from "lodash";
import PageHeading from "../components/PageHeading.vue";
import { ElNotification } from "element-plus";
import { emailIsValid } from "../utils";
import { useI18n } from "vue-i18n";

const route = useRoute();
const router = useRouter();
const store = useStore();
const { t } = useI18n({
  messages: {
    en: {
      pageHeading: "Share you wishlist",
      description:
        "Enter all email addresses you want to send your wishlist to",
      sharedWithHeading: "Subscribers",
      sharedWithDescription:
        "You are currently sharing your list with the following subscribers:",
      formValueEmailsPlaceholder: "Emails to receive your list",
      sharedSuccessHeading: "Shared!",
      sharedSuccessMessage: "Your wishlist have been shared!",
      validationRecipientsLengthHeader: "Missing emails",
      validationRecipientsLengthMessage: "You must add at least one email",
      validationEmailInvalidHeader: "Invalid email",
      validationEmailInvalidMessage: 'Email "{email}" is not a valid email.',
      shareButtonLabel: "Share",
      cancelButtonLabel: "Cancel",
    },
    sv: {
      pageHeading: "Dela din önskelista",
      description: "Fyll i alla email-adresser som du vill skicka listan till",
      sharedWithHeading: "Följare",
      sharedWithDescription: "Du delar för närvarande din lista med följande:",
      formValueEmailsPlaceholder: "Email adresser som listan ska skickas till",
      sharedSuccessHeading: "Delad!",
      sharedSuccessMessage: "Din önskelista är nu delad!",
      validationRecipientsLengthHeader: "Email saknas",
      validationRecipientsLengthMessage:
        "Du måste lägga till minst en emailadress",
      validationEmailInvalidHeader: "Ej korrekt email",
      validationEmailInvalidMessage:
        'Email-addressen "{email}" är inte en korrekt email.',
      shareButtonLabel: "Dela",
      cancelButtonLabel: "Avbryt",
    },
  },
});

const emails = ref<string[]>([]);
const emailOptions = ref<{ value: string; label: string }[]>([]);

const sharedWith = computed<string[]>(
  () => store.getters.getSelectedListSharedWith
);

const authListener = auth.onAuthStateChanged((user) => {
  if (!user) {
    router.push("/login");
    return;
  }

  store.dispatch("fetchSharedWith", { listId: route.params.id });
  store.dispatch("fetchWishlists", { userId: user.uid });
});

watch(route.params, (newValue, oldValue) => {
  if (newValue.id !== store.state.selectedId) {
    store.dispatch("selectWishlist", { id: newValue.id });
    store.dispatch("fetchSharedWith");
  }
});

const handleSubmit = (event: Event) => {
  event.preventDefault();

  const recipients = emails.value.map((email) => trim(email));

  if (!recipients.length) {
    ElNotification({
      title: t("validationRecipientsLengthHeader"),
      type: "error",
      message: t("validationRecipientsLengthMessage"),
    });
    return;
  }

  const invalidEmail = recipients.reduce<string | null>((acc, email) => {
    if (!emailIsValid(email)) {
      acc = email;
    }
    return acc;
  }, null);

  if (invalidEmail) {
    ElNotification({
      title: t("validationEmailInvalidHeader"),
      type: "error",
      message: t("validationEmailInvalidMessage", { email: invalidEmail }),
    });
    return;
  }

  store.dispatch("shareWishlist", { recipients, listId: route.params.id });

  ElNotification({
    title: t("sharedSuccessHeading"),
    type: "success",
    message: t("sharedSuccessMessage"),
  });

  router.push(`/wishlist/${route.params.id}`);
};

const handleCancel = () => {
  router.push(`/wishlist/${route.params.id}`);
};

onBeforeUnmount(() => {
  authListener();
});
</script>

<template>
  <el-card>
    <PageHeading variant="h1" divider>{{ t("pageHeading") }}</PageHeading>

    <div class="shared-with" v-if="sharedWith.length">
      <PageHeading variant="h3">{{ t("sharedWithHeading") }}</PageHeading>
      <p>{{ t("sharedWithDescription") }}</p>

      <div v-for="email in sharedWith" :key="email">{{ email }}</div>
    </div>

    <form @submit="(event) => handleSubmit(event)">
      <p class="info">
        {{ t("description") }}
      </p>
      <el-select
        v-model="emails"
        multiple
        filterable
        allow-create
        default-first-option
        :placeholder="t('formValueEmailsPlaceholder')"
      >
        <el-option
          v-for="item in emailOptions"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
      <div class="actions">
        <Button type="button" @click="handleCancel" variant="white">
          {{ t("cancelButtonLabel") }}
        </Button>
        <Button type="submit" variant="primary">
          {{ t("shareButtonLabel") }}
        </Button>
      </div>
    </form>
  </el-card>
</template>

<style lang="scss" scoped>
.info {
  margin-bottom: 1rem;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
::v-deep(.el-select-dropdown__empty) {
  display: none !important;
}

.shared-with {
  background: #f5f5f5;
  border-radius: 1rem;
  padding: 1rem;

  p {
    margin-bottom: 1rem;
  }
  margin-bottom: 1rem;
}
</style>
