<script lang="ts" setup>
import { onBeforeMount } from "vue";
import { useRouter } from "vue-router";
import { auth } from "../firebase";

const router = useRouter();

onBeforeMount(() => {
  auth.signOut();
  router.push("/");
});
</script>

<template>Signing out...</template>
