<script lang="ts" setup>
import { computed, onBeforeUnmount, onMounted, ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { auth } from "../firebase";
import WishlistCard from "../components/WishlistCard.vue";
import Button from "../components/Button.vue";
import { useStore } from "../store";
import { LocalWishlistItem, WishlistItem } from "../types";
import { ElNotification } from "element-plus";
import { Plus, Share, Delete } from "@element-plus/icons";
import { useMq } from "vue3-mq";
import { useI18n } from "vue-i18n";

const name = ref("");
const deleteModalVisible = ref(false);
const isAdding = ref(false);
const router = useRouter();
const route = useRoute();
const store = useStore();
const { t } = useI18n({
  messages: {
    en: {
      createdNotificationHeader: "Added!",
      createdNotificationMessage: "Your wish was added to your list!",
      removedNotificationHeader: "Removed!",
      removedNotificationMessage: "Your wish was removed!",
      confirmRemoveHeading: "Are you sure you want to delete this wishlist?",
      confirmRemoveConfirmButton: "Confirm",
      confirmRemoveCancelButton: "Cancel",
      areYouSure: "Are you sure?",
      addItem: "Add new item",
      shareList: "Share wishlist",
      deleteList: "Delete wishlist",
      formValueTitlePlaceholder: "What do you wish for?",
      formButtonAdd: "Add to Wishlist",
      emptyListInfo:
        'Your wish list is empty! Add a wish by pressing the "Add new item" button above.',
    },
    sv: {
      createdNotificationHeader: "Tillagd!",
      createdNotificationMessage: "Din önskning är tillgad till din lista!",
      removedNotificationHeader: "Borttagen!",
      removedNotificationMessage: "Din önskning är nu borttagen!",
      confirmRemoveHeading:
        "Är du säker på att du vill ta bort denna önskelista?",
      confirmRemoveConfirmButton: "Ja, ta bort",
      confirmRemoveCancelButton: "Avbryt",
      areYouSure: "Är du säker?",
      addItem: "Lägg till önskning",
      shareList: "Dela önskelista",
      deleteList: "Ta bort",
      formValueTitlePlaceholder: "Vad önskar du dig?",
      formButtonAdd: "Lägg till",
      emptyListInfo:
        'Din önskelista är tom! Lägg till en önskning genom att trycka på "Lägg till önskning"-knappen ovan.',
    },
  },
});

onMounted(() => {
  if (route.params.id) {
    store.dispatch("selectWishlist", { id: route.params.id });
  }
});

watch(route.params, (newValue, oldValue) => {
  if (newValue.id !== store.state.selectedId) {
    store.dispatch("selectWishlist", { id: newValue.id });
  }
});

const isLoading = computed(() => store.getters.isLoading);
const mq = useMq();

const selectedList = computed(() => store.getters.getSelectedList);

// const lists = computed(() => store.state.wishlists);

const authListener = auth.onAuthStateChanged((user) => {
  if (!user) {
    router.push("/login");
    return;
  }

  store.dispatch("fetchWishlists", { userId: user.uid });
});

const handleClick = () => {
  if (!auth.currentUser?.uid) {
    return;
  }
  const item: LocalWishlistItem = {
    title: name.value,
  };
  store.dispatch("addItemToList", { listId: route.params.id, item });
  name.value = "";
  isAdding.value = false;

  ElNotification({
    title: t("createdNotificationHeader"),
    type: "success",
    message: t("createdNotificationMessage"),
  });
};

const handleToggleIsAdding = () => {
  isAdding.value = !isAdding.value;
};

const handleShareClick = () => {
  router.push(`/share/${selectedList.value.id}`);
};

const handleDeleteWishlist = () => {
  deleteModalVisible.value = false;
  store.dispatch("deleteWishlist", { listId: route.params.id });
  ElNotification({
    title: t("removedNotificationHeader"),
    type: "success",
    message: t("removedNotificationMessage"),
  });
  router.push("/my-wishlists");
};

const onUpdateWishlistName = (name: string) => {
  store.dispatch("updateWishlistName", { listId: route.params.id, name });
};

const onRemoveItem = (payload: { itemId: string }) => {
  store.dispatch("deleteItemFromList", {
    listId: route.params.id,
    itemId: payload.itemId,
  });
};

onBeforeUnmount(() => {
  authListener();
});
</script>

<template>
  <Container>
    <el-dialog
      v-model="deleteModalVisible"
      class="dialog"
      :title="t('areYouSure')"
      :fullscreen="mq.current === 'xs'"
    >
      <span>{{ t("confirmRemoveHeading") }}</span>
      <template #footer>
        <span class="dialog-footer">
          <Button variant="white" @click="deleteModalVisible = false">
            {{ t("confirmRemoveCancelButton") }}
          </Button>
          <Button variant="primary" @click="handleDeleteWishlist">
            {{ t("confirmRemoveConfirmButton") }}
          </Button>
        </span>
      </template>
    </el-dialog>

    <div class="actions mobile">
      <el-button-group size="mini">
        <el-button
          type="primary"
          @click="handleToggleIsAdding"
          :icon="Plus"
        ></el-button>
        <el-button
          type="primary"
          @click="handleShareClick"
          :icon="Share"
        ></el-button>
        <el-button
          type="primary"
          @click="deleteModalVisible = true"
          :icon="Delete"
        ></el-button>
      </el-button-group>
    </div>

    <el-row class="actions desktop">
      <div>
        <Button @click="handleToggleIsAdding" variant="white">
          {{ t("addItem") }}
        </Button>
        <Button @click="handleShareClick" variant="white">
          {{ t("shareList") }}
        </Button>
      </div>
      <div>
        <Button @click="deleteModalVisible = true" variant="white">
          {{ t("deleteList") }}
        </Button>
      </div>
    </el-row>

    <el-card v-if="isAdding">
      <el-row class="add-form">
        <el-input
          v-model="name"
          :placeholder="t('formValueTitlePlaceholder')"
          class="text-field"
        />

        <Button
          class="add-form-submit-btn"
          variant="primary"
          :disabled="!name.length"
          @click="handleClick"
        >
          {{ t("formButtonAdd") }}
        </Button>
      </el-row>
    </el-card>

    <WishlistCard
      :list="selectedList"
      @onUpdateWishlistName="onUpdateWishlistName"
      @onRemoveItem="onRemoveItem"
    />
  </Container>
</template>

<style lang="scss" scoped>
.el-card {
  margin: 1rem 0;
}
.wishlist-name {
  margin-right: 1rem;
}

// .actions {
//   justify-content: flex-start;
//   @media screen and (min-width: 768px) {
//     button:last-child {
//       margin-left: auto;
//     }
//   }
// }

@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.add-form {
  flex-direction: column;

  @media screen and (max-width: 767px) {
    .text-field {
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .add-form-submit-btn {
      margin-left: 1rem;
    }
  }
}

.actions {
  &.mobile {
    text-align: right;

    .el-button-group {
      background: linear-gradient(
        286deg,
        rgb(76, 160, 252) 23%,
        rgb(224, 47, 238) 76%
      );
      border-radius: 0.2rem;
    }

    .el-button {
      background: transparent;
      border: #fff 1px solid;
    }
  }
  &.desktop {
    justify-content: space-between;
  }
}

// .dialog {
//   width: 100%;
//   @media screen and (min-width: 768px) {
//     width: 40%;
//   }
// }
</style>
