<script lang="ts" setup>
import { computed } from "vue";
import Button from "../components/Button.vue";
import { Menu } from "@element-plus/icons";
import { useI18n } from "vue-i18n";

const props = defineProps({
  isAuthed: Boolean,
});
const emits = defineEmits(["handleSignout"]);

const { t } = useI18n({
  messages: {
    en: {
      home: "Home",
      myWishlists: "My Wishlists",
      signout: "Sign out",
      register: "Register",
      login: "Login",
    },
    sv: {
      home: "Hem",
      myWishlists: "Mina önskelistor",
      signout: "Logga ut",
      register: "Bli medlem",
      login: "Logga in",
    },
  },
});

const handleSignout = () => {
  emits("handleSignout");
};

const isAuthed = computed(() => props.isAuthed);
</script>

<template>
  <header class="header">
    <div>
      <router-link to="/">
        <img src="../assets/logo.png" alt="Logo" width="160" />
      </router-link>
    </div>
    <div class="nav-container">
      <nav class="nav-desktop">
        <router-link to="/">{{ t("home") }}</router-link>
        <router-link v-if="isAuthed" to="/my-wishlists">
          {{ t("myWishlists") }}
        </router-link>
      </nav>
      <nav class="nav-mobile">
        <el-dropdown trigger="click">
          <el-dropdown-link>
            <svg
              viewBox="0 0 100 80"
              width="24"
              height="24"
              class="dropdown-trigger"
            >
              <rect width="100" height="20"></rect>
              <rect y="30" width="100" height="20"></rect>
              <rect y="60" width="100" height="20"></rect>
            </svg>
          </el-dropdown-link>
          <!-- <span class="el-dropdown-link">
            Menu
            <el-icon class="el-icon--right" size="24">
              <Menu />
            </el-icon>
          </span> -->
          <template #dropdown>
            <el-dropdown-menu class="dropdown-menu">
              <el-dropdown-item>
                <router-link to="/">{{ t("home") }}</router-link>
              </el-dropdown-item>
              <!-- <el-dropdown-item>
                <router-link to="/about">About</router-link>
              </el-dropdown-item> -->
              <el-dropdown-item>
                <router-link v-if="isAuthed" to="/my-wishlists">
                  {{ t("myWishlists") }}
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item>
                <router-link v-if="isAuthed" to="/signout">
                  {{ t("signout") }}
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item>
                <router-link v-if="!isAuthed" to="/register">
                  {{ t("register") }}
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item>
                <router-link v-if="!isAuthed" to="/login">
                  {{ t("login") }}
                </router-link>
              </el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
        <!-- <el-button>Menu</el-button> -->
      </nav>
      <div class="user">
        <Button
          variant="primary"
          v-if="!isAuthed"
          tag="router-link"
          to="/login"
        >
          {{ t("login") }}
        </Button>
        <Button v-if="!isAuthed" tag="router-link" to="/register">
          {{ t("register") }}
        </Button>
        <Button v-if="isAuthed" @click="handleSignout">
          {{ t("signout") }}
        </Button>
      </div>
    </div>
  </header>
</template>
<!-- <template>
  <header class="header">
    <div>
      <router-link to="/">
        <img src="../assets/logo.jpg" alt="Logo" width="80" />
      </router-link>
    </div>
    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link v-if="isAuthed" to="/my-wishlists">My Wishlists</router-link>
    </nav>
    <div class="user">
      <Button variant="primary" v-if="!isAuthed" tag="router-link" to="/login">
        Sign in
      </Button>
      <Button v-if="!isAuthed" tag="router-link" to="/register">
        Register
      </Button>
      <Button v-if="isAuthed" @click="handleSignout">Sign out</Button>
    </div>
  </header>
</template> -->

<style lang="scss" scoped>
.header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
a {
  font-weight: bold;
  color: #2c3e50;

  &.router-link-exact-active {
    color: #9b28ff;
  }
}

.dropdown-menu {
  a {
    text-decoration: none;
    font-weight: 400;
  }
}

.nav-container {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: right;

  .nav-mobile {
    display: block;
  }
  .nav-desktop {
    display: none;
  }

  .user {
    display: none;
  }

  @media screen and(min-width: 768px) {
    .nav-mobile {
      display: none;
    }
    .nav-desktop {
      display: block;
    }
    nav {
      text-align: left;
    }
    .user {
      display: block;
    }
  }
}

nav {
  margin-left: 40px;
  flex: 1;
  // text-align: left;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;

    margin-right: 1rem;
  }
}

.user {
  > button,
  > a {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.dropdown-trigger {
  transition: all 300ms ease-in-out;
  fill: #9b28ff;

  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}
</style>
