<script lang="ts" setup>
import { ref } from "vue";
import Button from "../components/Button.vue";
import { auth } from "../firebase";
import { useI18n } from "vue-i18n";

const { t } = useI18n({
  messages: {
    en: {
      heading: "Make shopping for christmas easy",
      subtitle:
        "Keeping your wishlist organized and make gift shopping a breeze!",
      buttonNotAuthed: "Join for free",
      buttonAuthed: "Create a list",
      imageHeading: "Shop gifts with a breeze",
    },
    sv: {
      heading: "Gör julshoppandet lite enklare",
      subtitle:
        "Håll din önskelista organiserad och gör presenthandlandet enkelt!",
      buttonNotAuthed: "Bli medlem gratis",
      buttonAuthed: "Skapa en lista",
      imageHeading: "Handla presenter, det är enkelt",
    },
  },
});
const isAuthed = ref(!!auth.currentUser);

auth.onAuthStateChanged((user) => {
  if (user) {
    isAuthed.value = true;
  } else {
    isAuthed.value = false;
  }
});
</script>

<template>
  <div class="introduction">
    <div class="introduction-left">
      <h1>{{ t("heading") }}</h1>
      <p>{{ t("subtitle") }}</p>
      <div>
        <Button v-if="!isAuthed" tag="router-link" to="/register">
          {{ t("buttonNotAuthed") }}
        </Button>
        <Button v-if="isAuthed" tag="router-link" to="/my-wishlists">
          {{ t("buttonAuthed") }}
        </Button>
      </div>
    </div>
    <div class="introduction-right">
      <div class="image-container">
        <img src="../assets/gift.png" alt="Gift" />
      </div>
      <h2>{{ t("imageHeading") }}</h2>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.introduction {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;

    &-left {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

    &-right {
      border-radius: 1rem;
    }
  }

  &-left {
    flex: 1;
    padding: 2rem;
    background: #f5f5f5;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    p {
      margin: 1rem 0;
    }
  }
  &-right {
    flex: 1;
    background: #8e0fff;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;

    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .image-container {
      width: 180px;
    }

    img {
      max-width: 100%;
    }

    h2 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}
</style>
