<script lang="ts" setup>
import { ElNotification } from "element-plus";
import { computed, reactive, ref } from "vue";
import { useStore } from "../store";
import Button from "./Button.vue";
import moment from "moment";
import { useMq } from "vue3-mq";
import { useI18n } from "vue-i18n";

interface Props {
  item: any;
  list: any;
}
const props = defineProps<Props>();

const store = useStore();
const mq = useMq();
const { t } = useI18n({
  messages: {
    en: {
      reserveButtonLabel: "Reserve",
      successNotificationTitle: "Reserved!",
      successNotificationMessage: "The wish is now reserved by you!",
      cancel: "Cancel",
      confirm: "Confirm",
      formValueYourNameLabel: "Your name",
      reserveDialogHeading: "Reserve item",
    },
    sv: {
      reserveButtonLabel: "Reservera",
      successNotificationTitle: "Reserverad!",
      successNotificationMessage: "Denna önskning är nu reserverad av dig!",
      cancel: "Avbryt",
      confirm: "Ja, reservera",
      formValueYourNameLabel: "Ditt namn",
      reserveDialogHeading: "Reservera önskning",
    },
  },
});

const reserveDialogVisible = ref(false);
const form = reactive({
  name: "",
});

const reserved = computed(() => {
  const reservedItem = props.list.reserved.find(
    (other: any) => other.itemId === props.item.id
  );

  if (!reservedItem) {
    return null;
  }

  const date = moment(reservedItem.reservedOn.toDate()).fromNow();
  return `Reserved by ${reservedItem.reservedBy}, ${date}`;
});

const handleReserve = () => {
  reserveDialogVisible.value = false;
  store.dispatch("reserveItem", {
    sharedListId: props.list.id,
    itemId: props.item.id,
    reservedBy: form.name,
  });

  ElNotification({
    title: t("successNotificationTitle"),
    type: "success",
    message: t("successNotificationMessage"),
  });
};
</script>

<template>
  <el-dialog
    v-model="reserveDialogVisible"
    :title="t('reserveDialogHeading')"
    :fullscreen="mq.current === 'xs'"
  >
    <el-form :model="form">
      <el-form-item :label="t('formValueYourNameLabel')" label-width="240px">
        <el-input v-model="form.name" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <Button @click="reserveDialogVisible = false">{{ t("cancel") }}</Button>
        <Button variant="primary" @click="handleReserve">
          {{ t("confirm") }}
        </Button>
      </span>
    </template>
  </el-dialog>

  <div class="left title">
    {{ props.item.title }}
  </div>
  <div class="reserved" :class="{ hidden: !reserved }">{{ reserved }}</div>
  <div class="right actions">
    <el-button @click="reserveDialogVisible = true">
      {{ t("reserveButtonLabel") }}
    </el-button>
  </div>
</template>
