<script lang="ts" setup>
import { useI18n } from "vue-i18n";
import SharedListItem from "./SharedListItem.vue";
interface Props {
  list: any;
}

const props = defineProps<Props>();
const { t } = useI18n({
  messages: {
    en: {
      columnTitleLabel: "Title",
      columnReservedLabel: "Reserved",
      columnReserveLabel: "Reserve",
    },
    sv: {
      columnTitleLabel: "Rubrik",
      columnReservedLabel: "Reserverad",
      columnReserveLabel: "Reservera",
    },
  },
});
</script>

<template>
  <div class="table">
    <div class="headings">
      <div class="left">{{ t("columnTitleLabel") }}</div>
      <div>{{ t("columnReservedLabel") }}</div>
      <div class="right">{{ t("columnReservedLabel") }}</div>
    </div>
    <div class="item" v-for="(item, key) in props.list.items" :key="item.id">
      <SharedListItem :item="item" :list="props.list" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.table {
  .headings,
  ::v-deep(.item) {
    display: flex;
    // margin-bottom: 0.5rem;
    align-items: center;

    > div {
      flex: 1;
      padding: 0.5rem;
      text-align: center;

      &.left {
        text-align: left;
        flex: 3;
      }
      &.right {
        text-align: right;
      }
      &.hidden {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .headings {
      display: none;
    }
    ::v-deep(.item) {
      display: grid;
      grid-template-columns: 1fr 150px;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "title actions" "reserved reserved";
      padding: 1rem 0.5rem;
      .title {
        grid-area: title;
        color: #8e0fff;
        font-size: 1.1rem;
        text-align: left;
      }
      .reserved {
        grid-area: reserved;
        text-align: left;
      }
      .actions {
        grid-area: actions;
        align-self: flex-start;
      }
    }
  }

  .headings {
    font-weight: bold;
    // margin-bottom: 0.5rem;
  }

  .item {
    border-bottom: #ccc 1px solid;
    // padding-bottom: 0.5rem;
  }
}
</style>
