<template>
  <div class="welcome-step-item">
    <div class="welcome-step-item-icon">
      <el-icon size="60">
        <slot name="icon" />
      </el-icon>
    </div>
    <h3 class="welcome-step-item-title">{{ title }}</h3>
    <div class="welcome-step-item-text">{{ text }}</div>
  </div>
</template>

<script lang="ts" setup>
interface Props {
  title: string;
  text: string;
}

defineProps<Props>();
</script>

<style lang="scss" scoped>
.welcome-step-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  &-title {
    margin: 1rem 0;
  }
}
</style>
