<script lang="ts" setup>
import WelcomeStepItem from "./WelcomeStepItem.vue";
import { Present, Promotion, Select } from "@element-plus/icons";
import { useRouter } from "vue-router";
import Button from "./Button.vue";
import { useI18n } from "vue-i18n";

const router = useRouter();
const { t } = useI18n({
  messages: {
    en: {
      step1Title: "1. Create",
      step2Title: "2. Send",
      step3Title: "3. Reserve",
      step1Text: "Creating your wishlist is easy! Add items from any store.",
      step2Text:
        "Send your wishlist to anyone. By email, chat or social media.",
      step3Text:
        "Family and friends can reserve their gifts on your wishlist. Useful!",
      buttonLabel: "Get started",
    },
    sv: {
      step1Title: "1. Skapa",
      step2Title: "2. Dela",
      step3Title: "3. Reservera",
      step1Text:
        "Att skapa din önskelista är enkelt! Lägg till produkter från vilken affär som helst.",
      step2Text:
        "Dela din önskelista med vem som helst. Med email, chat eller genom sociala medier.",
      step3Text:
        "Familj och vänner kan reservera sina presenter på din önskelista. Användbart!",
      buttonLabel: "Börja direkt",
    },
  },
});

const handleGetStartedClick = () => {
  router.push("/my-wishlists");
};
</script>

<template>
  <div class="welcome-steps">
    <Container>
      <el-row class="steps">
        <el-col :xs="24" :md="8">
          <welcome-step-item :title="t('step1Title')" :text="t('step1Text')">
            <template v-slot:icon><Present /></template>
          </welcome-step-item>
        </el-col>
        <el-col :xs="24" :md="8">
          <welcome-step-item :title="t('step2Title')" :text="t('step2Text')">
            <template v-slot:icon><Promotion /></template>
          </welcome-step-item>
        </el-col>
        <el-col :xs="24" :md="8">
          <welcome-step-item :title="t('step3Title')" :text="t('step3Text')">
            <template v-slot:icon><Select /></template>
          </welcome-step-item>
        </el-col>
      </el-row>
      <el-row class="get-started" justify="center">
        <Button variant="primary" @click="handleGetStartedClick">
          {{ t("buttonLabel") }}
        </Button>
      </el-row>
    </Container>
  </div>
</template>

<style lang="scss" scoped>
.welcome-steps {
  background: #f5f5f5;
  border-radius: 15px;
  padding: 40px 0;
  margin: 2rem 0;
}

.get-started {
  margin: 1rem 0;
}

.steps {
  margin: 1rem 0;
}
</style>
