<script lang="ts" setup>
import { computed, ref } from "vue";
import { Edit, Delete } from "@element-plus/icons";
import { useRouter, useRoute } from "vue-router";
import { WishlistItem } from "../types";
import { useI18n } from "vue-i18n";

const props = defineProps<{ item: WishlistItem }>();
const emits = defineEmits(["onRemoveItem"]);
const router = useRouter();
const route = useRoute();
const { t } = useI18n({
  messages: {
    en: {
      edit: "Edit",
      delete: "Delete",
    },
    sv: {
      edit: "Redigera",
      delete: "Ta bort",
    },
  },
});

const isHovering = ref(false);

const itemStyle = computed(() => {
  const styles: { [key: string]: any } = {};

  if (props.item.image) {
    styles["background-image"] = props.item.image
      ? `url(${props.item.image}) `
      : undefined;
  }
  return styles;
});

const handleDelete = () => {
  emits("onRemoveItem", { itemId: props.item.id });
};

const handleEditClick = () => {
  router.push(`/wishlist/${route.params.id}/${props.item.id}`);
};
</script>

<template>
  <div
    class="wishlist-item"
    :class="{ 'has-image': !!props.item.image }"
    @mouseover="isHovering = true"
    @mouseleave="isHovering = false"
  >
    <div class="wishlist-item-options" v-if="isHovering">
      <el-row justify="end" class="wishlist-item-options-list">
        <el-button-group size="mini">
          <el-tooltip placement="top">
            <template #content>{{ t("edit") }}</template>
            <el-button :icon="Edit" @click="handleEditClick"></el-button>
          </el-tooltip>
          <el-tooltip placement="top">
            <template #content>{{ t("delete") }}</template>
            <el-button
              type="danger"
              :icon="Delete"
              @click="handleDelete"
            ></el-button>
          </el-tooltip>
        </el-button-group>
      </el-row>
    </div>
    <span :style="itemStyle">
      <span class="inner">
        {{ item.title }}
      </span>
    </span>
  </div>
</template>

<style lang="scss" scoped>
.wishlist-item {
  position: relative;

  &.has-image {
    position: relative;
    span.inner {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 15px;
    }
  }

  > button,
  > span,
  > a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 120px;
    border-radius: 15px;
    background-color: #3a2a46;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &-options {
    position: absolute;
    z-index: 20;
    top: 0.5rem;
    left: 0;
    right: 0;
    padding: 0.25rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);

    &-list {
      > div {
        margin-right: 0.5rem;
      }
    }
  }
}
</style>
