<script lang="ts" setup>
import { ref, withDefaults, computed, watch, toRefs } from "vue";
import { Edit } from "@element-plus/icons";
import WishlistItem from "./WishlistItem.vue";
import Button from "./Button.vue";
import { useStore } from "../store";
import { useI18n } from "vue-i18n";

interface Props {
  list?: {
    title: string;
    items: any[];
  };
}

const props = withDefaults(defineProps<Props>(), {});
const emits = defineEmits(["onUpdateWishlistName", "onRemoveItem"]);
const store = useStore();
const { t } = useI18n({
  messages: {
    en: {
      emptyListInfo:
        'Your wish list is empty! Add a wish by pressing the "Add new item" button above.',
      saveButtonLabel: "Save",
      cancelButtonLabel: "Cancel",
      formValueTitlePlaceholder: "Name your wishlist",
    },
    sv: {
      emptyListInfo:
        'Din önskelista är tom! Lägg till en önskning genom att trycka på "Lägg till önskning"-knappen ovan.',
      saveButtonLabel: "Spara",
      cancelButtonLabel: "Avbryt",
      formValueTitlePlaceholder: "Namnge din lista",
    },
  },
});

const localName = ref(props.list?.title || "");
const isEditing = ref(false);
const loading = computed(() => store.getters.getIsLoading);
const items = computed(() => props.list?.items || []);

watch(
  () => props.list,
  (newValue, oldValue) => {
    if (newValue?.title !== oldValue?.title) {
      localName.value = newValue?.title || "";
    }
  }
);

const handleSaveName = () => {
  emits("onUpdateWishlistName", localName.value);
  isEditing.value = false;
};

const handleCancelEditName = () => {
  isEditing.value = false;
  localName.value = props.list?.title || "";
};

const onRemoveItem = (payload: { itemId: string }) => {
  emits("onRemoveItem", payload);
};
</script>

<template>
  <el-card>
    <template v-if="loading">
      <el-skeleton :rows="5" animated />
    </template>
    <template v-if="!loading && list">
      <div class="top">
        <template v-if="!isEditing">
          <h2>{{ list.title }}</h2>
          <button
            @click="isEditing = !isEditing"
            :style="{
              border: 0,
              background: 'transparent',
              display: 'flex',
              marginLeft: '0.5rem',
              cursor: 'pointer',
            }"
          >
            <el-icon class="el-icon"><Edit /></el-icon>
          </button>
        </template>
        <template v-if="isEditing">
          <el-input
            :placeholder="t('formValueTitlePlaceholder')"
            v-model="localName"
          />
          <Button
            variant="primary"
            size="mini"
            @click="handleSaveName"
            :style="{ marginLeft: '0.5rem' }"
          >
            {{ t("saveButtonLabel") }}
          </Button>
          <Button variant="white" size="mini" @click="handleCancelEditName">
            {{ t("cancelButtonLabel") }}
          </Button>
        </template>
      </div>

      <p v-if="!items.length" class="empty-list-text">
        {{ t("emptyListInfo") }}
      </p>

      <div class="list" v-if="items.length">
        <div v-for="(item, index) in items" :key="index" class="list-item">
          <WishlistItem :item="item" @onRemoveItem="onRemoveItem" />
        </div>
      </div>
    </template>
  </el-card>
</template>

<style lang="scss" scoped>
.wishlist-name {
  margin: 0;

  input {
    margin-right: 1rem;
  }
}

.empty-list-text {
  text-align: left;
}

.top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8e0fff;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}
</style>
