<template>
  <Container class="main-container">
    <div class="main">
      <Header :isAuthed="isAuthed" @handleSignout="handleSignout" />

      <router-view />
    </div>
  </Container>
</template>

<script lang="ts" setup>
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router";
import { auth } from "./firebase";
import Header from "./components/Header.vue";

const router = useRouter();
const isAuthed = ref(true);

auth.onAuthStateChanged((user) => {
  if (user) {
    isAuthed.value = true;
  } else {
    isAuthed.value = false;
  }
});

const handleSignout = () => {
  auth.signOut();
  router.push("/");
};
</script>

<style lang="scss">
* {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.el-select-dropdown__empty {
  display: none !important;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-image: url('/bg.svg'); */
  /* background-size: cover; */
  font-size: 14px;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
.stretch {
  width: 100%;
  height: 100%;
}

#app {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.main-container {
  height: 100%;
  @media screen and (min-width: 768px) {
    padding: 50px 0;
  }
}

.main {
  min-height: 100%;
  background: #fff;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    height: auto;
    padding: 4rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    margin-bottom: 50px;
  }
}
</style>
